body {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10vh;
  padding-top: 7vh;
}

h1 {
  color: salmon;
  justify-content: center;
  display: inline-block;
  padding: 0px;
  font-family: "Sanchez", serif;
  font-size: xx-large;
  text-shadow: 1px 1px 2px lightgray;

}

h3 {
  color: rgb(83, 79, 79);
  font-family: "Montserrat", sans-serif;
}

.lefttitle {
  color:rgb(99, 92, 92);
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}


h5 {
  color: rgb(83, 79, 79);
  font-family: "Montserrat", sans-serif;
  display: inline-block;
}

.bigimg {
  width: 400px;
  padding-bottom: 1vh;
}

#center {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 60vh;
}

.righttext {
  padding-bottom: 4vh;
}

.para {
  padding-right:4vw;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  font-size: 11.5px
}

.smltext {
  line-height: 1.75;
}

.texttwo, .sometext {
  padding-bottom: 2vh;
  line-height: 1.75;
}

#leftside {
  padding-left: 14vw;
  padding-right: 4vw;
  width: 50vw;
  height:60vh;
  
}

#rightside {
  padding-right: 12vw;
  padding-top:2vh;
  width: 24vw;
  height:60vh;
  font-family: "Montserrat", sans-serif;
  font-size: smaller

}

#somethingone {
  display: grid;
  flex-direction: column;
  text-align: left;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 10px;
}

#somethingtwo {
  display: grid;
  flex-direction: column;
  text-align: left;
  float: left;
  display: inline-block;
}

.smallimg1,
.smallimg2 {
  height: 80px;
  width: 80px;
  float: left;
  
}

.smallerimg {
  width: 80px;
  height: 65px;
  float: left;
}

.greybuttons {
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  outline: none;
  height: 26px;
  background-color:rgb(110, 105, 105);


}

.learny {
  color:white;
  background-color: salmon;
  width: 115px;
  height: 40px;
  align-items: center;
  justify-self: center;
 outline:none;
 border:none;
 font-family: 'Montserrat', sans-serif;
 
 
}

/* foot stuff below */

#footer {
  background-color: rgba(176, 180, 182, 0.788);
  margin-top: 75vw;
  width: 100vw;
  display: inline-block;
}

#footer #footertit {
  text-align: center;
}

#leftfoot {
  float: left;
  display: grid;
  grid-gap: 0.5em;
  margin-left: 22.5vw;
  width: 22vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "name email"
    "textbox textbox";
}

#leftfoot #namey {
  grid-area: name;
}

#leftfoot #emaily {
  grid-area: email;
}

#leftfoot #subject {
  grid-area: textbox;
}

#rightlinks {
  display: grid;
  float: right;
  grid-gap: 0.5em;
  margin-right: 22vw;
  width: 22vw;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-areas:
    "feet feet feet feet"
    "houseimg house twit twittoes"
    "telimg phone insta handle"
    "feetmail footmail dumbbook fb";
}

.feettext {
  grid-area: feet;
}

.houseimg {
  grid-area: houseimg;
}

.house {
  grid-area: house;
}

.twit {
  grid-area: twit;
}

.twittoes {
  grid-area: twittoes;
}

.telimg {
  grid-area: telimg;
}

.phone {
  grid-area: phone;
}

.insta {
  grid-area: insta;
}

.handle {
  grid-area: handle;
}

.feetmail {
  grid-area: feetmail;
}

.footmail {
  grid-area: footmail;
}

.dumbbook {
  grid-area: dumbbook;
}

.fb {
  grid-area: fb;
}

label {
  display: block;
  font: 1rem;
}

input,
label {
  margin: 0.4rem 0;
}

p {
  font-size: smaller;
}

#rightfoot img {
  height: 30px;
  width: 30px;
}
