body {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

h1 {
  color: salmon;
  justify-content: center;
  display: inline-block;
  padding: 5px;
  text-shadow: 1px 1px 2px lightgray;
  font-family: "Sanchez", serif;
}

h3 {
  color: rgb(83, 79, 79);
  font-family: "Montserrat", sans-serif;
}
h4 {
  color:rgb(99, 92, 92);
  display:inline-block;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  color: rgb(83, 79, 79);
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}

#center {
  display: flex;
  flex-direction: column;
  text-align: center;
  display: inline-block;
  justify-items: center;
  width: 100vw;
}

#dumbdumb {
  margin: 5px 22.5vw;
  width: 55vw;
}

.paraone, .paratwo {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  font-size: x-small;
}

.bigboi {
  width: 55vw;
  height: 32vh;
  display: inline-block;
  padding-bottom: 3vh;
}

/* foot stuff below */

#footer {
  background-color: rgba(176, 180, 182, 0.788);
  margin-top: 5vw;
  display: inline-block;
  width:100vw;
}

#footer #footertit {
  text-align: center;
}

#leftfoot {
  float: left;
  display: grid;
  grid-gap: 0.5em;
  margin-left: 22.5vw;
  width: 22vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "name email"
    "textbox textbox";
}

#leftfoot #namey {
  grid-area: name;
}

#leftfoot #emaily {
  grid-area: email;
}

#leftfoot #subject {
  grid-area: textbox;
}

#rightlinks {
  display: grid;
  float: right;
  grid-gap: 0.5em;
  margin-right: 22vw;
  width: 22vw;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-areas:
    "feet feet feet feet"
    "houseimg house twit twittoes"
    "telimg phone insta handle"
    "feetmail footmail dumbbook fb";
}

.feettext {
  grid-area: feet;
}

.houseimg {
  grid-area: houseimg;
}

.house {
  grid-area: house;
}

.twit {
  grid-area: twit;
}

.twittoes {
  grid-area: twittoes;
}

.telimg {
  grid-area: telimg;
}

.phone {
  grid-area: phone;
}

.insta {
  grid-area: insta;
}

.handle {
  grid-area: handle;
}

.feetmail {
  grid-area: feetmail;
}

.footmail {
  grid-area: footmail;
}

.dumbbook {
  grid-area: dumbbook;
}

.fb {
  grid-area: fb;
}

label {
  display: block;
  font: 1rem;
}

input,
label {
  margin: 0.4rem 0;
}

p {
  font-size: smaller;
}

#rightfoot img {
  height: 30px;
  width: 30px;
}
/* .titleone {
      text-align: center;
  } */
