body {
margin: 0;
padding: 0;
}

#header {
  padding-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 7vh;
}



 h1 {
color: salmon;
justify-content:center;
display:inline-block;
padding:0px;
font-family: 'Sanchez', serif;
font-size: xx-large;
text-shadow: 1px 1px 2px lightgray;

}

h3{
  color:rgb(83, 79, 79);
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color:rgb(99, 92, 92);
  display:inline-block;
  font-family: 'Montserrat', sans-serif;
}

 h5 {
    color:rgb(83, 79, 79);
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
}



#firstContentWrap {
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

#firstimggroup {
    justify-content: center;
    align-items: center;
    display:grid;
    width: 70vw;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    grid-gap: .5rem;
    grid-template-areas: 
    "header header header"
    "img1 img2 img3"
    "textOne textTwo textThree"
    ". footer .";
}

.imgtitle {
    justify-content: center;
    align-items: center;
    grid-area: header;   
    text-align: center;
    
}

#firstimggroup img {
    justify-content: center;
    justify-items: center;
    align-items:center;
    width: 19vw;
    height: 13vw;
    /* padding:5px;  */
}

.img1 {
    grid-area: img1;
    justify-content: center;
    justify-self: center;
}

.img2 {
    grid-area: img2;
    justify-content: center;
    justify-self: center;
    
}

.img3 {
    grid-area: img3;
    justify-self: center;
}

.textOne {
    grid-area: textOne;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

.textTwo{
    grid-area: textTwo;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   
}

.textThree{
    grid-area: textThree;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#firstimggroup {
  padding-bottom: 3vh;
}

#firstimggroup button {
    grid-area: footer;
    color:white;
    background-color: salmon;
    width: 155px;
    height: 40px;
    align-items: center;
    justify-self: center;
   outline:none;
   border:none;
   font-family: 'Montserrat', sans-serif;
   
}


 #quotespace {
     display:flex;
     margin:45px 0;
     padding: 30px 0;
     height: 15vh;
     justify-content: center;
     align-items: center;
     /* background-color: rgb(113, 126, 126); */
     color:white;   
     font-family: 'Montserrat', sans-serif;
     background: rgb(177,177,185);
background: radial-gradient(circle, rgba(177,177,185,1) 14%, rgba(131,131,131,1) 48%, rgba(95,95,99,1) 68%);
 }


.img5, .img4{
    height: 300px;
    width: 600px
}


#sect1 {
    display: grid;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    padding-left: 7vw;
    padding-right: 7vw;
    height: auto;
    margin: 80px 12vw;
    grid-gap: 1rem;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: .35fr 300px .15fr .35fr .05fr .5fr;
    grid-template-areas: 
    "aliens blogsection1"
    "img4 blogsection1"
    "liltitle blogsection1"
    "alientext blogsection1"
    "cont1 blogsection1"
    "0 blogsection1"
}

#blogssection1 {
    display: flex;
    margin-top: 3vh;
    padding-left:3vw;
    padding-top: 7vw;
    line-height: 1.5;
    /* float: right; */
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    grid-area: blogsection1;
    height: 100vh;
}

#blogsection1 > p {
    padding-top: 1vh;
}

.aliens {
    grid-area: aliens;
}

.img4 {
    grid-area: img4;
    height: 300px
}

.liltitle {
    grid-area: liltitle;
    
}

#alientext {
  line-height: 2;
    grid-area: alientext;
    
}

#cont1 {
    grid-area: cont1;
    align-items: flex-start;
    justify-self: left;
    text-align: center;
    height: 40px;
    width: 170px;
    border: none;
    outline: none;
    background-color: salmon;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

.leftbutts {
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  outline: none;
  height: 26px;
  background-color:rgb(110, 105, 105);
}


#sect2{
    display:grid;
    width: 60vw;
    height: auto;
    margin: 80px 12vw;
    padding-left: 7vw;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: .5fr 300px .05fr 1fr .5fr;
    grid-gap: .5rem;
    grid-template-areas: 
    "leftT flexone"
    "img5 flexone"
    "0 flextwo"
    /* "img 5 flextwo" */
    "previewL flextwo"
    "buttoncont flextwo"

}

.leftT {
    grid-area: leftT;
    text-align: left;
    
}

.img5 {
    grid-area: img5;
    height: 300px;
}

.previewL {
    grid-area: previewL;
}

.buttoncont {
    grid-area: buttoncont;
    justify-self: left;
    height: 40px;
    width: 170px;
    border: none;
    outline: none;
    background-color: salmon;
    font-family: 'Montserrat', sans-serif;;
    color: white

}


#rightsideposts {
    display:flex;
    width: 300px;
    padding-left: 4vw;
    padding-right: 13vw;
    text-align: left;
    flex-direction:column;
    align-items: flex-start;
    grid-area: flexone;
    font-size: x-small;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    
}

.previewL {
  font-size: x-small;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  
}

.buttonright{
  border: none;
  outline: none;
  background-color: salmon;
  font-family: 'Montserrat', sans-serif;
  color: white;
height: 30px;
}

#rightsideposts2 {
    display: flex;
    width: 300px;
    padding-left: 4vw;
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
    grid-area: flextwo;
     font-family: 'Montserrat', sans-serif;

}

.rightT {
  font-size:small;
}

.rightP {
  font-size: small;
  line-height: 1.75;
}

 .img6 , .img7 {
     height: 80px;
     width: 110px;
     float:left;
 }

/* foot stuff below */

/* #shoe {
  background-color: lightgray;
  
} */

 #footer {
    background-color: rgba(176, 180, 182, 0.788);
    /* margin-top: 55vh; */
    width: 100vw;
    display: inline-block;
  }
  
  
  #footer #footertit {
    text-align: center;
  }
  
  #leftfoot {
    float: left;
    display: grid;
    grid-gap: 0.5em;
    margin-left: 22.5vw;
    width: 22vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
      "name email"
      "textbox textbox";
  }
  
  #leftfoot #namey {
    grid-area: name;
  }
  
  #leftfoot #emaily {
    grid-area: email;
  }
  
  #leftfoot #subject {
    grid-area: textbox;
  }
  
  #rightlinks {
    display: grid;
    float: right;
    grid-gap: 0.5em;
    margin-right: 22vw;
    width: 22vw;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-areas:
      "feet feet feet feet"
      "houseimg house twit twittoes"
      "telimg phone insta handle"
      "feetmail footmail dumbbook fb";
  }
  
  .feettext {
    grid-area: feet;
  }
  
  .houseimg {
    grid-area: houseimg;
  }
  
  .house {
    grid-area: house;
  }
  
  .twit {
    grid-area: twit;
  }
  
  .twittoes {
    grid-area: twittoes;
  }
  
  .telimg {
    grid-area: telimg;
  }
  
  .phone {
    grid-area: phone;
  }
  
  .insta {
    grid-area: insta;
  }
  
  .handle {
    grid-area: handle;
  }
  
  .feetmail {
    grid-area: feetmail;
  }
  
  .footmail {
    grid-area: footmail;
  }
  
  .dumbbook {
    grid-area: dumbbook;
  }
  
  .fb {
    grid-area: fb;
  }
  
  label {
    display: block;
    font: 1rem;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }
  
  p {
    font-size: smaller;
  }
  
  
  #rightfoot img {
    height: 30px;
    width: 30px;
  }
