body {
  margin: 0;
  padding: 0;
}

#header {
  padding-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

h1 {
  color: salmon;
justify-content:center;
display:inline-block;
padding:0px;
font-family: 'Sanchez', serif;
font-size: xx-large;
text-shadow: 1px 1px 2px lightgray;
}

h3 {
  color: darkslategrey;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color:rgb(83, 79, 79);
  font-family: 'Montserrat', sans-serif;
}

.tittle {
  color:rgb(83, 79, 79);
  font-family: 'Montserrat', sans-serif; 
}

h5 {
  color:rgb(83, 79, 79);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: inline-block;
}



#main {
  display: flex;
  flex-direction: column;
  display: inline-block;
  padding-left: 13vw;
  padding-right: 13vw;
  height:70vh;
}


#leftside {
  float: left;
  display: grid;
  width: 22vw;
  padding-right: 5vw;
  height: 70vh;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "groupone"
    "grouptwo"
    "groupthree";
}


.leftbutton {
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  outline: none;
  height: 26px;
  background-color:rgb(110, 105, 105);
padding-bottom: 5vh;
/* text-shadow: 1px 1px 2px lightgray; */
}

/* #leftside > button {
  justify-content: left;
  width: 55px;
  justify-items: left;
  
} */

#groupone {
  display: flex;
  grid-area: groupone;
  /* float: left; */
  flex-direction: column;
  /* padding-bottom: 70px; */
  /* width: 100vw */
}

.leftbutton {
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  outline: none;
  width: 75px;
  background-color:rgb(110, 105, 105);
  padding-bottom: 4vh;
  
  

}

#grouptwo {
  display: flex;
  grid-area: grouptwo;
  /* float: left; */
  flex-direction: column;
  /* margin-top: 50px;
      margin-bottom: 50px; */
  /* width: 100vw; */
}

.leftpara {
  font-family: 'Montserrat', sans-serif;
line-height: 1.5;
padding-bottom: 2vh;
font-size: x-small;
}

.lefttitle {
  padding-bottom: 0vh;
  margin-bottom: 0;
}

.bottomtitle {
  padding-bottom: 2vh;
}

#groupthree {
  display: flex;
  grid-area: groupthree;
  float: left;
  padding-top: 50px;
  width: auto;
  flex-direction: column;
  text-align: left;
  /* display: inline-block; */
  /* width: 100vw; */
}

#groupthree > p {
  float: left;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  display: inline-block;
}
/* 
#groupthree button {
  display: inline-block;
  justify-content: left;
  align-items: flex-end;
} */

.smlimg {
  height: 90px;
  width: 100px;
}

#rightside {
  float: right;
  display: flex;
  flex-direction: column;
  
  width: 45vw;
  height: 70vh;
}

.bigpara {
  font-family: 'Montserrat', sans-serif;
line-height: 2;
padding-bottom: 2vh;
font-size: x-small;
}

.secondmain {
padding-bottom: 3vh;

}

.thirdtitle {
  padding-top: 3vh;
}

.bigimg {
  height: 300px;
  width: 45vw;
}


p {
  font-size: smaller;
}

.bottomtext {
font-family: 'Montserrat', sans-serif;
line-height: 1.5;
font-size: x-small;
float: left;
padding-top: 2vh;
}

.learny {
  height: 40px;
  width: 170px;
  border: none;
  outline: none;
  background-color: salmon;
  font-family: 'Montserrat', sans-serif;
  color: white;
  
}

/* foot stuff below */

#footer {
  background-color: rgba(176, 180, 182, 0.788);
  margin-top: 70vw;
  display: inline-block;
  width: 100vw;
}

#footer #footertit {
  text-align: center;
}

#leftfoot {
  float: left;
  display: grid;
  grid-gap: 0.5em;
  margin-left: 22.5vw;
  width: 22vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "name email"
    "textbox textbox";
}

#leftfoot #namey {
  grid-area: name;
}

#leftfoot #emaily {
  grid-area: email;
}

#leftfoot #subject {
  grid-area: textbox;
}

#rightlinks {
  display: grid;
  float: right;
  grid-gap: 0.5em;
  margin-right: 22vw;
  width: 22vw;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-areas:
    "feet feet feet feet"
    "houseimg house twit twittoes"
    "telimg phone insta handle"
    "feetmail footmail dumbbook fb";
}

.feettext {
  grid-area: feet;
}

.houseimg {
  grid-area: houseimg;
}

.house {
  grid-area: house;
}

.twit {
  grid-area: twit;
}

.twittoes {
  grid-area: twittoes;
}

.telimg {
  grid-area: telimg;
}

.phone {
  grid-area: phone;
}

.insta {
  grid-area: insta;
}

.handle {
  grid-area: handle;
}

.feetmail {
  grid-area: feetmail;
}

.footmail {
  grid-area: footmail;
}

.dumbbook {
  grid-area: dumbbook;
}

.fb {
  grid-area: fb;
}

label {
  display: block;
  font: 1rem;
}

input,
label {
  margin: 0.4rem 0;
}

p {
  font-size: smaller;
}

#rightfoot img {
  height: 30px;
  width: 30px;
}
